{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <h1>Detalle del empleado:</h1>
    </div>
    <div class="row">
        <div class="card" style="width:400px">
          
          {% if detalle.avatar %}
          <img class="card-img-top" src="{{ detalle.avatar.url }}" alt="Card image">
          {% else %}
          <img class="card-img-top" src="{% static 'img/avatar.jpeg' %}" alt="Card image">
          {% endif %}
            
            
            <div class="card-body">
              <h4 class="card-title">{{ detalle.last_name }}, {{ detalle.first_name }}</h4>
              <p class="card-text">
                <ul>
                    <li>{{ detalle.get_job_display }}</li>
                    <li>{{ detalle.departamento }}</li>
                </ul>
              </p>
              <a href="{% url 'registro_app:update' detalle.id %}" class="btn btn-primary">Modificar</a>
              
            </div>
          </div>
    </div>
</div>
    
{% endblock content %}
    




<ul>
    <li>{{ detalle.last_name }}</li>
    <li>{{ detalle.first_name }}</li>
    <li>{{ detalle.job }}</li>
    <li>{{ detalle.departamento }}</li>
</ul>